.badge-technologies {
  text-align: center;
  font-weight: 600;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #fff;
	border-radius: 20px;
	background: #fff;
	font-size: 10px;
	color: #000;
	display: inline-block;
	width: 90px;
	height: 25px;
	padding-top: 4px;
}

.period { 
  color: #7a0088;
	font-style: italic;
}