.dropdown {
  z-index: 5;

  @media (min-width: 992px) {
    z-index: 8;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .btn{
    padding: 0;
    &:focus{
      box-shadow: none;
    };
    svg{
      margin: 0;
    }
  }


  .dropdown-menu {
    background-color: #e9d5ff;
    color: #1b005f;

  }
    .dropdown-item {
      color: #1b005f;
    }

  .dropdown-item:hover {
    background-color: #1b005f;
  }
  .icon {
    font-size: 30px !important;
    padding: 0;
    margin: 0;
    color: #e9d5ff;
  }

}
